@import url('https://fonts.googleapis.com/css?family=Francois+One');
@font-face {
    font-family:"STARWARS";
    src:url("/assets/fonts/STARWARS.eot?") format("eot"),
    url("/assets/fonts/STARWARS.woff") format("woff"),
    url("/assets/fonts/STARWARS.ttf") format("truetype"),
    url("/assets/fonts/STARWARS.svg#STARWARS") format("svg");
    font-weight:normal;
    font-style:normal;
}

* {
    -webkit-appearance: none;
}
br {
    line-height: 150%;
}

html,
nav {
    margin: 0px;
    padding: 0px;
    background-image: url(/assets/starry_sky.jpg);
    background-repeat: repeat;
    }

body {
    width:95%;
    margin:0 auto;
    background-color:transparent;
}


h1 {
    font-size:7rem;
    color:#fee73b;
    text-align:center;
    font-family: StarWars;
    margin:0;
}

h2 {
    font-family: 'Francois One', sans-serif;
    color:#fff;
    font-size: 2em;
    margin-top:7.5px;
    text-shadow: 0px 1px 1px #000;

}
button:focus {
    outline:0;
}
/* Navigation */
nav {
    font-size:4em;
    font-family: 'Francois One', sans-serif;
    color:#e1d470;
    text-align: center;
}
nav ul {
    margin: 0 auto;
    width:75%;
    list-style: none;
}
nav li {
    margin-bottom:30px;
}
nav a {
    padding: 5px;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}
nav a.active {
    border-bottom: 1px solid #e1d470;
    color: #f6f6f6;
}
nav a:visited {
    color:#e1d470;
}
main {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
}
/* Search Query Elements */
.search {
    font-family: 'Francois One', sans-serif;
    font-size:28px;
    color:#fff;
    text-shadow: 0px 1px 1px #000;
    border:0;
    background-color:#FFA500
}
select {
    overflow-y: auto;
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #fff;
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    
  }
  
select:focus {
    background-image:
      linear-gradient(45deg, #34ADFF  50%, transparent 50%),
      linear-gradient(135deg, transparent 50%,#34ADFF  50%);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: #34ADFF ;
    outline: 0;
  }
.search:hover {
    background-color:#dd8f00
}
.search:active {
    transform: translateY(4px);
}
input {
    border:0;
}
input:focus {
    outline:0;
    border: 5px solid #e1d470;
}
/* Cards */
.card {
    width: calc(100% - 30px);
    height:300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    display:inline-block;
    border-radius: 10px;
    background-color: #A5A5A2;
    position: relative;
    
}

.content {
    width:95%;
    margin: 0 auto;
}
.content p {
    display:inline;
}
.attributes {
    margin: 25px 0;
}
.films {
    background-image: -webkit-linear-gradient(-90deg, #34ADFF 20%, #A5A5A2 0%);
}

.people {
    background-image: -webkit-linear-gradient(-90deg, #A947AF 20%, #A5A5A2 0%);
}

.planets {
    background-image: -webkit-linear-gradient(-90deg, #FF9700 20%, #A5A5A2 0%);
}
.species {
    background-image: -webkit-linear-gradient(-90deg, #3AD9A1 20%, #A5A5A2 0%);
}

.starships {
    background-image: -webkit-linear-gradient(-90deg, #E92F40 20%, #A5A5A2 0%);
}

.vehicles{
    background-image: -webkit-linear-gradient(-90deg, #F2D335 20%, #A5A5A2 0%);
}
/* Favorite Card */
.favorites {
    background-image: -webkit-linear-gradient(-90deg, #0037FF 20%, #A5A5A2 0%);
}

/* Favorite Button */
.fa-times-circle,
.fa-star {
    font-size: 2em;
    background: none !important;
    border: none;
    padding: 0! important;
    cursor: pointer;
    outline: none !important;
    position: absolute;
   
}
.fa-star {
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    margin-right:5px;
    color: #555555;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
}
.fa-times-circle {
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right:5px;
    color: #E92F40;
}
.fa-star:hover {
    color:#777777;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
.fa-times-circle:hover {
    color: #c01424;
}

.fa-star:disabled {
    color: #e1d470;
    pointer-events: none;
}
/* Media Queries */
@media only screen and (min-width: 600px) {
    .card {
        width: calc(100% / 2 - 30px);
    }
}
@media only screen and (min-width: 960px) {
    main {
        margin: 35px auto;
        width: 85%;
    }
    .card{
        width: calc(100% / 3 - 30px);
    }
}
    @media only screen and (min-width: 1280px) {
        main {
            width: 75%;
        }
    }
    @media only screen and (min-width: 1960px) {
        .card{
            width: calc(100% / 4 - 30px);
        }
    }